<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1" verbose="1" >
  <test name="Regression suite 1" >
    <classes>
      <class name="automation.Sampletest"/>
      <class name= "automation.TestGetOperation"/>
       <class name= "automation.TestPostOperation"/>
         <class name= "automation.GetBankBranches"/>
         <class name= "automation.CreateUser"/>
    </classes>
 </test>
</suite>